.content {
	margin: 25px 0;
	line-height: 1.2;

	&__text {
		padding: 30px 0;
	}
}


.banner {
	display: block;
	color: #fff;
	margin: 30px 0;
	padding: 30px;
	background-color: rgba(33, 21, 68, 0.2);
	border-radius: 5px;

	&__title {
		font-size: 25px;
		line-height: 2;
		text-align: center;
	}


	&__button {
		display: block;
		background: #cf0e48;
		color: #fff;
		font-size: 20px;
		line-height: 40px;
		height: 40px;
		width: 220px;
		margin: 30px auto;
	}

	&__text {
		padding: 30px 0;
	}

}